<div class="post">
    <div class="mrright">
        <article class="archive">
            <h2>
                <time datetime="<%= date(post.date) %>">
                    <%= date(post.date) %>
                </time>
                <a href="<%- url_for(post.path) %>"><%= post.title %></a>
            </h2>

        </article>
    </div>

</div>